*{
    font-family: 'Comfortaa', cursive;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
}

/* nav bar */
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
nav h1{
    font-size: 30px;
    border-radius: 27% 73% 28% 72% / 49% 29% 71% 51% ;
    color: rgb(95, 95, 252);
    padding: 13px;
}
.topnav {
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    display: block;
    font-weight:500;
    color: rgb(95, 95, 252);
    text-align: center;
    padding: 13px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
  
/* Change the color of links on hover */
.topnav a:hover {
/* background-color: rgb(95, 95, 252) ; */
    color: white;
    font-size: 23px;
    @media(min-width: 600px){
        color: black;
    }
}
 
  /* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgb(95, 95, 252);
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
  }
@media screen and (min-width: 600px){
    .topnav{
        display: flex;
    }
}  
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    /* .topnav a:not(:first-child) {display: none;} */
.topnav :hover {
    background-color: rgb(95, 95, 252) ;
    color: white;
}
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  }
.title{
    width: 100%;
    min-height: 56px;
    background: rgb(95, 95, 252);
    color: white;
}
.title h1{
    padding: 15px;
    font-size: 24px;
}
.front{
    background: linear-gradient(rgba(253, 253, 253, 0.9),rgba(253, 253, 253, 0.9));
    min-height: 65vh;
    width: 100%;
    color: black;
}
.container-2,
.container-2-reverse{
    display: flex;
    justify-content: center;
    @media (max-height: 600px) {
        flex-direction: column;
        
    }
}
.item{
    max-width: 400px;
}
.frontDetails{
    max-width: 500px;
    padding: 10px;
    margin: auto;
    margin-top: 10vh;
    overflow: hidden;
}
.frontDetails p{
    margin-bottom: 20px;
}
.color-1{
    color: rgb(95, 95, 252);
}
.color{
    font-size: 40px;
    color: rgb(95, 95, 252);
}

.buttn{
    background-color: rgb(95, 95, 252);
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 6px 13px;
    border-radius: 17px;
    color: white;
    text-decoration: none;
}
.frontImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
@media(max-width: 600px){
    .container-2{
        display: flex;
        flex-direction: column;
    }
    .item{
        flex-basis: 100%;
        margin: 10px;
    }
    .frontImage{
        height: 28vh;
    }
    .container-2-reverse{
        display: flex;
        flex-direction: column-reverse;
    }
    .frontDetails{
        text-align: center;
    }
    .buttn{
        text-align: center;
    }
}
.about{
    min-height: 50vh;
    margin-bottom: 20px;
}
.aboutDetails{
    max-width: 560px;
    padding: 17px;
}
.aboutDetails h1{
    font-size: 30px;
}
.aboutDetails p{
    margin-top: 10px;
}
.aboutDetails ul li{
    list-style: none;
    align-items: flex-start;
}
.aboutDetails a{
    margin-top: 5px;
}
.field{
    font-weight: 900;
    font-size: 17px;
}
.aboutImage{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    background: rgb(95, 95, 252);
    border-radius: 52% 48% 27% 73% / 30% 30% 70% 70% ;
    overflow: hidden;
}
.aboutImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.services{
    height: auto;
    margin-bottom: 50px;
    @media(min-width: 600px){
        margin-bottom: 70px;
    }
}
.services h1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color:  rgb(95, 95, 252);   
}
.servicesContainer{
    justify-content: center;
    margin: auto;
}
.servicesDetail{
    margin: auto;
    margin-top: 18px;
    text-align: center;
    padding: 10px;
}
.servicesDetail i{
    font-size: 64px;
    color:  rgb(95, 95, 252);
    padding: 10px;
}
.servicesDetail h3{
    font-size: 23px;
}
footer{
    background: rgb(95, 95, 252);
    width: 100%;
    position: fixed;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
    bottom: 0;
    /* height: 30px; */
}
footer a{
    padding: 3px;
    color: white;
    left: 0;
    bottom: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 25px;
    margin: auto;
    opacity: 0.5;
}
footer a:hover{
    opacity: 1;
}

/* ----------------------icons--------------------------------- */

.fa-brands,.fa-solid,.fa-regular{
    font-size: 25px;
    padding: 5px;
    opacity: 1;
}
.fa-square-github{
    color: #333;
    cursor: pointer;
}
.fa-linkedin{
    color: #0072b1;
    cursor: pointer;
}
.fa-x-twitter{
    font-size: 25px;
}
.fa-html5{
    color: #e34c26;

}
.fa-css3-alt{
    color:  #264de4;
}
.fa-square-js{
    color: #f0db4f;
}
.fa-git{
    color:  #f34f29;
}
.fa-python{
    color: #4584b6;
}
.fa-square-whatsapp{
    color: #075E54;
}
.fa-android{
    color: #3DDC84;
}

/* ----------------projects------------------ */
.projectsSection{
    min-height: 65vh;
}
.titleProject{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.titleProject h1{
    font-size: 30px;
    color: rgb(95, 95, 252);
}
.titleProject button{
    background-color: rgb(95, 95, 252);
    text-align: center;
    outline: none;
    border: 1px solid rgb(95, 95, 252);
    padding: 5px;
    font-size: 20px;

}
.titleProject a{
    text-decoration: none;
    color: white;
}
.projectItem{
    display: flex;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    width: 80vw;
}
.projectPic{
    overflow: hidden;

}
.projectPic img{
    flex-basis: 50%;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}
.projectDetails{
    flex-basis: 50%;
    padding: 20px;
}
.projectDetails h1{
    font-size: 25px;
    padding-bottom: 10px;
    color: rgb(95, 95, 252);
    color: black;
    
}
.codes{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.codes a{
    text-decoration: none;
    color: rgb(95, 95, 252);
    font-weight: 900;
    cursor: pointer;
    font-size: 18px;
}
@media(max-width: 700px){
    .projectItem{
        flex-direction: column;
        flex-basis: 100%;
    }
}


/* -----------------------------------------project page ---------------------------- */
.titleProjectPage{
    margin: 20px;
}
.titleProjectPage h1{
    font-size: 30px;
    color: rgb(95, 95, 252);
    @media (max-width: 600px){
        text-align: center;
    }

}
/* /////-------------contact page------------------ */
.contactPage{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contactPage h1{
    font-size: 30px;
    color: rgb(95, 95, 252);
    padding: 15px;

    @media(max-width: 600px){
        text-align: center
    }
}
@media(max-width: 600px ){
    .contactPage{
        flex-direction: column;
    }
}
.contactDetail{
    flex-basis: 50%;
    align-items: center;
    margin: auto;
}
.contactDetail p{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
}
.contactImg{
    background-color: rgb(95, 95, 252);
    margin: auto;
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    border-radius: 58% 42% 52% 48% / 30% 30% 70% 70% ;
}
.contactImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
#contactsContainer{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    margin: auto;
    justify-content: center;
}
.contactItem{
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    margin: 10px;
    
}
.contactItem i{
    color: white;
    font-size: 20px;   
}
.contactItem p{
    align-self: center;
    padding-left: 5px;
    font-size: 17px;
    color: white;
}
